/* archivo CSS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap');

body {
    background-image: url("BarberFondo.jpg");
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
    font-family: Playfair;
    color:  #fff
}

.form-turno {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(100, 100, 100, 0.911);
    font-family: Arial, sans-serif;
    color: #ffffff
  }
  
  .form-turno fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .form-turno legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Roboto
  }
  
  .form-turno label {
    display: block;
    margin-top: 10px;
  }
  
  .form-turno input,
  .form-turno select,
  .form-turno textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Roboto;
  }
  
  .form-turno textarea {
    resize: vertical;
  }
  
  .form-turno button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-turno button:hover {
    background: #585858;
  }

  .form-turno label {
    display: flex;
    align-items: flex-start; /* alinea la primera línea con el checkbox */
  }
  
  .form-turno label span {
    white-space: nowrap; /* solo al texto, no al checkbox */
  }
  
  .form-turno label input[type="checkbox"] {
    width: 16px;   /* tamaño del cuadrado */
    height: 16px;
    margin: 0 8px 0 0; /* solo margen derecho para separar del texto */
    padding: 0;
    vertical-align: middle; /* centra con el texto */
    box-sizing: border-box;
  }
  
  