body {
    background-image: url("fondoabout2.png");
    color: #000000;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

div {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(100, 100, 100, 0.911);
    font-family: Arial, sans-serif;
    color: #ffffff
  }