<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de turno</title>
    <link rel="stylesheet" href="static/stylesFormPost.css">
    <meta charset="UTF-8">
    <link rel="icon" href="static/logo.png" type="image/png">
</head>
<body>
    <a href="/aboutUs" class="btn-about">Más sobre nosotros</a>
    <a href="/sacarTurno" class="btn-sacarTurno">Sacar turno</a>
    <div class="card">
        <h1>¡Tu turno ha sido agendado, {{.Nombre}}!</h1>
        <p class="subtitle">Detalles de tu reserva:</p>
        <p><strong>Teléfono:</strong> {{.Telefono}}</p>
        <p><strong>Email:</strong> {{.Email}}</p>
        <p><strong>Servicio:</strong> {{.Servicio}}</p>
        <p><strong>Barbero:</strong> {{.Barbero}}</p>
        <p><strong>Fecha:</strong> {{.Fecha}}</p>
        <p><strong>Hora:</strong> {{.Hora}}</p>
        <p><strong>Notas:</strong> {{.Notas}}</p>
    </div>
</body>
</html>