<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesIndex.css">
    <title>CurtSaide Barber Shop</title>
    <meta charset="UTF-8">
    <link rel="icon" href="static/logo.png" type="image/png">
</head>
<body>

    <div class="botones">
        <a href="/aboutUs" class="btn-about">Más sobre nosotros</a>
        <a href="/sacarTurno" class="btn-sacarTurno">Sacar turno</a>
    </div>

    <div class="slogan-recuadro">

        <h1>¡Bienvenido a nuestra barbería CurtSaide Barber Shop!</h1>
        <p>
            Esta aplicación web permite administrar los turnos de una barbería de manera sencilla.
            Se pueden registrar clientes y barberos, así como asignar turnos específicos para cada cliente con un barbero determinado. 
            Los turnos pueden ser agregados, modificados, consultados o eliminados, permitiendo llevar un control completo de la agenda de la barbería.
    </p>
    </div>
</body>


</html>