<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesAbout.css">
    <title>Document</title>
</head>
<body>
    <div class="presentacion">
        <h1>CurtSaide BarberShop</h1>
        <h2>"Cuidarte es marcar tu estilo"</h2>
        <p>
            En 2012, en un barrio céntrico que empezaba a renovarse, dos amigos, Juan Ignacio y Felipe, decidieron abrir un pequeño local
            con dos sillas heredadas del abuelo de Juan. Desde jóvenes compartían la pasión por el detalle y la estética, y ambos habían
            aprendido a cortar cabello de manera improvisada en el garaje, ofreciendo cortes a vecinos y conocidos mientras perfeccionaban su técnica.<br><br>

            El momento de abrir la barbería llegó cuando notaron que la zona estaba llena de peluquerías modernas, pero ninguna ofrecía
            la experiencia clásica: un espacio masculino, relajado, con conversación, música tranquila y el ritual del afeitado a navaja.
            Juntos quisieron recuperar esa tradición y, al mismo tiempo, darle un toque contemporáneo.<br><br>

            Así fue como marcaron tendencia, no porque inventaran algo nuevo, sino porque revivieron lo clásico con una esencia propia,
            construida sobre la amistad, la dedicación y el amor por el oficio.
        </p>
    </div>
</body>
</html>